

body {
    background-color: #444;
    background-repeat: repeat;
}

* {
  padding: 1px;
  margin: 0px;
  font-family: arial;
}

input[type=text] {
    width: 95%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 1px solid #555;
    outline: none;
}

input[type=text]:focus {
    background-color: #00fa9a;
}

input[type=image] {
    border: 2px solid black; 
    background-color: #ddd;
    width: 24px;
    height: 24px;
    margin: 4px;
}

input[type=image]:focus {
    background-color: #00fa9a;
}



/*------------------------------------------------------------------------------------*/
div {
    border-radius: 12px;
    background-image: url(../images/Home/Background/bg03.jpg);
    background-repeat: repeat;
    padding-top: 40px ;
    padding-left: 60px;
    padding-bottom: 60px;
    padding-right: 60px;
}

#table-utama {
    background-color: #ffffff;
}

table .bagian-atas {
    width: 100%;
    margin-left: 20px;
}
td .judul {
    width: 150px;
}

td .pemisah {
    width: 2px;
}

table {
    width: 100%;
}
/*---------------------------------------------------------------------------------*/

textarea {
    width: 100%;
    height: 205px;
    padding: 12px 20px;

    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    background-color: #fbfbfb;
    resize: none;
}