html {
  background: url(mike-giles-wallpaper-1280x800.jpeg) no-repeat  fixed;
  background-size:100% 100%;
}

/*body {
    background:#eee;
    margin:0;
    padding:0;*/
}
//ini body layout
.example {
    border-radius:3px;
    -moz-border-radius:3px;
    -webkit-border-radius:3px;
}

header {
  margin: 40px 0;
  color: #ddd;
  font-family: 'Sedgwick Ave Display', cursive;
  font-size: 32px;
}

header:hover {
 font-size: 32px;
 color: #008b8b;
 text-shadow: 4px 4px 8px #000;
} 



/* ini setelan menu yg tak buat dropdown horizontal */
#nav,#nav ul {

    list-style:none;
    margin:0;
    padding:0;
    border-radius: 20px;
}
#nav {
    width: 75%;
    margin-left: 150px;
    margin-right: 150px;
    background-color:#2c3e50;
    height:47px;
    padding-left:5px;
    padding-top:5px;
    position:relative;
    z-index:2;
}
#nav ul {

    left:-9999px;
    position:absolute;
    top:37px;
    width:auto;
}
#nav ul ul {
    left:-9999px;
    position:absolute;
    top:0;
    width:auto;
}

#nav li li a:hover{
    background: #2ecc71;

}
#nav li {
    font-family: 'Saira', sans-serif;
    float:left;
    margin-right:5px;
    position:relative;
}
#nav li a {
    width: 120px;
    margin-left: 16px;
    background:#3498db;
    color:#fff;
    display:block;
    float:left;
    font-size:16px;
    padding:8px 10px;
    text-decoration:none;
}
#nav > li > a {
    -moz-border-radius:6px;
    -webkit-border-radius:6px;
    -o-border-radius:6px;
    border-radius:6px;

    overflow:hidden;
} /*// .sub-menu ini biar bisa ngedropdown ke sebelah*/
#nav li a.sub-menu { 
    background:#3498db url("Arrow-Next-icon.png") no-repeat right center;
    padding-right:15px;
}
#nav ul li {
    margin:0;
}
#nav ul li a {
    width:120px;
}
#nav ul li a.sub-menu {
    padding-right:10px;
}

#nav li:hover > a {
    background-color:#1abc9c;
    color:#fff;
}

    #nav li a:focus {
    outline-width:0;
}

#nav li a:active + ul.dd,#nav li a:focus + ul.dd,#nav li ul.dd:hover {
    left:0;
}
#nav ul.dd li a:active + ul,#nav ul.dd li a:focus + ul,#nav ul.dd li ul:hover {
    left:140px;
}

footer {
    font-family: 'Kaushan Script', cursive;
    float: right;
    padding-top: 40px;
    padding-right: 270px;
    color: #2980b9;
    font-size: 32px;
}

